<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CINEADMIN</title>
<link rel="stylesheet" type="text/css" media="all"
href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>
<body>

<div class="context">
		<div class="container">
	<h1>Welcome to the Cine Admin!</h1>
	<h3>If you want to submit another cinema Stage ready for use click <a href="#" th:href="@{/secureAdmin/cinemaSub}">Here</a>.</h3>
	<h3>If you want to check the list of available cinemas click <a href="#" th:href="@{/secureAdmin/cinemaList}">Here</a>.</h3>
	<p>
		<a href="#" th:href="@{/logout}">Logout</a>
	</p>
	
	
	</div>
	</div>


<!--The following CSS code was used for the background animation and was retrieved from:

https://codepen.io/mohaiman/pen/MQqMyo -->

	<div class="area">
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

</body>
</html>